/* .login-main{
    width: 100%;
    height: 100%;
    display: flex;
}


.logo-login{
    display: flex;
}
.well-login{
    font-size: 85px;
}
.right-login{
    color:blue ;
}
.right-pass{
    display: flex;
}
.right{
        width: 50%;
        height: 100vh;
        padding: 40px;
} */

.left{
    background: #2F4F4F;
    color: white;
   
}

.login-button{
    background: #2F4F4F;
}
.right-sign a{
    color: #2F4F4F;
}
.right-login {
    color: #2F4F4F;
}