.pool-search{
    background: #437070;
}
.Create-Pool{
    background: #2F4F4F;
}
.table{
    background-color: #43707042;
    

}
.Edit-btn{
    background: #2F4F4F;
}
.Pool-table{
    background: #43707042;
}
.edit-btn{
    background: #2F4F4F;
}
.edit-option{
    background: #4370700A;
}
.Pool-btn{
    color: #2F4F4F ;
}